*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    padding: 10%;
    padding-top: 15%;
    background-image: url(imagens/paisagem.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    color: rgb(192, 126, 2);
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 0, 7);
}

body button{
    padding: 20px;
    margin-top: 5%;
    font-size: 16px;
    border-radius: 1cm;
    cursor: pointer;
    font-weight: 600;
    background-color: antiquewhite;
}

body button:hover{
    transform: scale(1.05);
    transition: .3s;
    box-shadow: 0 0 40px rgb(192, 126, 2);
}

#resultado{
    padding: 3%;
    line-height: 25px;
    font-weight: 700;
    font-size: 32px;
    margin: auto;
}

@media (max-width: 412px){
    body{
        padding: 6%;
        padding-top: 50%;
        font-size: 22px;
    }
}

@media (max-width: 853px){
    body{
        padding-top: 30%;
    }
}

@media (max-width: 344px){
    body{
        padding: 3%;
        padding-top: 70%;
        font-size: 20px;
    }

    #resultado{
        font-size: 22px;
    }
}

@media (max-width: 912px){
    body{
        padding-top: 30%;
    }
}

@media (max-width: 415px){
    body{
        padding-top: 50%;
    }

    #resultado{
        font-size: 26px;
    }
}

@media (max-width: 415px){
    body{
        font-size: 24px;
    }
}